@charset "utf-8";
/* CSS Document */
.LeftMain{width:220px;}
.RightMain,.RightIn{border:1px solid #e9e9e9;border-radius:3px;}
.RightMain{width:756px;padding:3px;background: #f7f7f7;overflow: hidden;position: relative;}
.RightIn{background: #fff;height:575px;padding: 15px 20px;}
/*搜索框*/
.search{width:218px;border:1px solid #eae9e9;height:30px;position: relative;}
.search input{border:0;line-height: 30px;height:30px;outline:none;padding-left:5px;width: 176px;}
.search .Icon-ser{position: absolute;top:1px;right:2px;}
.search-mini{width:223px;}
.search-mini input{width: 180px;}
.SelectItem .btn-primary{padding: 5px 20px 5px 10px;background: #1f7cba;border:0;}
.SelectItem ul,.search ul{width:150px;height:180px;overflow-y: scroll;border:1px solid #c2c1c1;border-radius:3px;
    box-shadow: -2px 5px 10px #d0d0d0;padding: 5px 0;position: absolute;top:32px;left:0;display: none;background: #fff;z-index: 20;}
.SelectItem ul li,.search ul li{color:#c2c1c1;height:26px;line-height: 26px;padding-left: 10px;}
.SelectItem ul li:hover,.search ul li:hover{color:#fff;background:#2369b2;cursor: pointer;}
.SelectItem ul li.current{color:#fff;background:#2369b2;cursor: pointer;}
.SelectItem.current ul,.search.current ul{display:block;}
.search ul{width:200px;}
.search ul li{margin:0 5px;border-bottom:1px dashed #e7e7e7;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;width:160px;}
.search ul li:hover,.search ul li.current{background: #ebebeb;color: #666;}
.search ul li span{padding-right:10px;}
.search ul li .name{color:#0066cc;}
.ItemL{width:270px;height:350px;border:1px solid #aad0f7;position: relative;padding: 30px 15px;}
.ItemR{border-color: #a4a4a4;}
.ItemTitle{padding:10px 15px;background: #fff;position: absolute;top:-17px;left:20px;color: #1f7cba;}
.ItemR .ItemTitle{color:#404040;}
.UserImg{display:inline-block;height:43px;border:1px solid #eaeaea;border-right:0;padding:5px 5px 0 5px;}
.UserImg img{width:40px;height:40px;border-radius:50px;}
.UserBox{height:48px;border:1px solid #eaeaea;border-left:0;width: 190px;padding-left: 5px;}
.UserBox p{padding: 7px 10px 0 10px;}
.ItemL li:hover .UserBox{background: #0066cc;border-color: #0066cc;color: #fff;}
.ItemL li.current .UserBox{background:#0066cc;border-color: #0066cc;color: #fff;}
.UserBox p span.UserName{display: inline-block;width: 80px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;top: 2px;position: relative;}
.UserList li{margin:0 0 10px 0;cursor: pointer;}
.ItemR li:hover .UserBox{background:#dd6879;border-color: #dd6879;}
.ItemR li.current .UserBox{background:#dd6879;border-color: #dd6879;}
.LeftRight{display:block;width: 26px;}
.Mbottom{width:513px;height:58px;border:1px solid #e8e8e8;background: #f7f7f7;}
.mainIn  .ItemL{width: auto;height: auto;}
.mainIn  .ItemL .UserList li{background:none;cursor: move;position: relative;}
.mainIn  .ItemL .UserList li .number{width:20px;height:20px;margin-top:10px;border-radius:50px;background: #0066cc;display: inline-block;color: #fff;text-align: center;line-height: 20px;}
.mainIn  .ItemL .UserList li .UserImg{border:0;padding-top:0;margin-right:20px;}
.mainIn  .ItemL .UserList li .UserBox{padding:0;margin-left: 30px;border:1px solid #eaeaea;height:38px;}
.mainIn  .ItemL .UserList li .UserBox p{padding-top:11px;}
.mainIn  .ItemL .UserList li .UserBox p .UserName{width:80px;margin-right: 10px;}
.mainIn  .ItemL .UserList li:hover .UserBox,.mainIn  .ItemL .UserList li.current .UserBox{background: #0066cc;color: #fff;}
.mainIn  .ItemL .UserList li .UserBox p a{position: absolute;top:6px;}
.mainIn  .ItemL .UserList li .UserBox p a.IconV{right:100px;}
.mainIn  .ItemL .UserList li .UserBox p a.IconM{right:70px;}
.mainIn  .ItemL .UserList li .UserBox p a.no-Voice{right:88px;top:11px;}
.mainIn  .ItemL .UserList li .UserBox p a.no-Mic{right:55px;top:11px;}

.MList{border:1px solid #e2dede;background: #f7f7f7;position: relative;overflow: hidden;height: 520px;}
.ML-top{height: 33px;border-bottom:1px solid #e2dede;line-height: 33px;padding:0 5px 0 10px;background: #fff;position: relative;z-index: 20;}
.RoomList{position: absolute;width: 100%;height: 9999px;left:0;top:0;padding-top: 40px;}
.RoomList li{margin-top:10px;}
.RoomList li a{display: block;height:30px;line-height: 30px;padding:0 10px 0 10px;color: #1f7cba;}
.RoomList li a .Icon{top:2px;margin-right:5px;}
.RoomList li.current,.RoomList li:hover{background: #1f7cba;}
.RoomList li:hover{background: #7fb2e5;transition:0.1s;}
.RoomList li.current a,.RoomList li:hover a{color: #fff;}
.Icon-prev,.Icon-next{position: absolute;z-index: 10;left:50%;margin-left: -20px;transition:0.4s;}
.MList .Icon-prev{top:15px;}
.MList .Icon-next{bottom:-19px;}
.MList:hover .Icon-prev{top:34px;}
.MList:hover .Icon-next{bottom:0;}
.Frame{padding:0 5px;}
.FrameIn{padding:30px 30px;position: relative;}
.Mtitle{color:#2483cb;border-bottom: 2px solid #1f7cba;line-height: 30px;position: relative;}
.Mtitle .Icon-time{top:2px;}
.Frame .Mtitle{margin:0;}
.Mnav li{float: left;margin-right: 5px;}
.Mnav li a{display: block;line-height:28px;height: 28px;padding: 0 20px;color: #6e6e6e;border-radius: 3px;}
.Mnav li a:hover,.Mnav li.current a{background: #e5e5e5;}
.MLisT{width: 100%;}
.MLisT th,.MLisT td{padding-left:20px;}
.MLisT thead th{height: 30px;background: #f8f8f7;color: #000;}
.MLisT tbody td{height: 30px;border:10px solid #fff;border-width:10px 0;overflow: hidden;}
.MLisT tbody tr:hover td{background: #1f7cba;color: #fff;}
.MLisT tbody td div.block{position: relative;height: 30px;line-height: 30px;}
.MakeBtn{position: absolute;background: #f8f8f8;top:0;right:-72px;height: 24px;padding: 6px 10px 0 10px;transition:0.3s;}
.MakeBtn .Icon-begin{top:-1px;margin-left: 10px;}
.MLisT tbody tr:hover div .MakeBtn{right: 0;transition:0.3s;}
/*page*/
.Mpage a,.Mpage span{line-height: 22px;height:22px;margin-left:-4px;border-style:solid;border-width:1px 0 1px 1px;display:inline-table;
    padding:0 7px;color:#1f7cba;border-color: #1f7cba;}
.Mpage a.md-p-next{border-right-width:1px;}
.Mpage a.md-p-no{color:#D0D0D0;}
.Mpage a.md-p-no:hover{background: none;color:#D0D0D0;cursor:inherit;}
.Mpage a.block{border-width:1px;margin:0 auto;cursor:pointer;}
.RightBar{width:50px;height:480px;background: #f7f7f7;border:1px solid #e9e9e9;position:absolute;right:-46px;top:106px;border-right-width: 0;z-index:60;}
.RightBarIn{width:100%;height: 100%;position: relative;}
.RightBarIn .Icon-show,.RightBarIn .Icon-hide{position: absolute;top:50%;margin-top:-21px;left:-13px;}
.RightBarIn a.Rbtn{display: block;width: 45px;margin:10px auto 0 auto;text-align: center;color: #2483cb;}
.RightBarIn a.Rbtn:hover{color:#034786;}
.RightBarIn a.Rbtn .Icon{display: block;margin: 2px auto;}
.RightBarIn .voice{border:1px solid #e2dede;border-width:1px 0;margin:0 5px;background: #f7f7f7;z-index: 40;position: relative;}
.RightBarIn a.loginOut{color:#f34559;}
.RightBarIn a.loginOut .Icon{right:-2px;top:-4px;}
.RightBarIn .voiceM{width:82px;height:33px;background: url("../images/m-bg.png");position: absolute;bottom:99px;left:86px;padding-left: 3px;z-index: 0;}
.RightBarIn .voiceM input{border:0;width:30px;text-align: center;line-height: 20px;height:20px;margin-top:2px;background: none;}
.RightBarIn .voiceM .Icon{top:7px;}
.RightBarIn .voice .no-mic{position: absolute;left:20px;top:5px;}
.voice .Icon{background-color: #f7f7f7;}
.Micphone{width:205px;height:50px;background:url("../images/m-bg2.png");position:absolute;left:209px;bottom:92px;}
.Micphone p{padding:8px 0 0 15px;}


.step{position: absolute;right: -3px;top:20px;background: #fff;padding-right: 50px;}
.step li{width:76px;height:22px;color:#848484;float: left;line-height:65px;background-repeat: no-repeat;}
.step li.current{color:#2674d0;}
.step li em{position: relative;right:-40px;}
.step li.step1{background-image: url("../images/step1.png");}
.step li.step2{background-image: url("../images/step2.png");}
.step li.step2.current{background-image: url("../images/step2h.png");}
.step li.step3{background-image: url("../images/step3.png");}
.step li.step3.current{background-image: url("../images/step3h.png");}
.step2 th{width: 50px;height: 50px;font-size: 14px;}
.Upload,.Uploaded{width:360px;height:100px;border:1px solid #e7e7e7;background: #f7f7f7;position: absolute;}
.Upload .Icon-arrow-t{position: absolute;top:-7px;left:10px;}
.Upload a.updoc{display: block;width:80px;height: 80px;border:1px solid #ececec;background: #fff;text-align: center;color:#666;float: left;margin: 10px 0 0 20px;}
.Upload a.updoc:hover{border-color: #b3b3b3;}
.Upload a.updoc i{margin:10px 0;}
.Uploaded{width:10px ;}
.upload{display: inline-block;border:1px solid #dadada;color:#787878;padding:3px 10px;margin-left:5px;cursor: pointer;}
.upload:hover{background:#dfecfb;border-color:#b8d4f5;}
/*2014-01-28 附件*/
.updaterDialog{position:relative;}
.updaterDialog_Main{border:1px solid #F0F0F0;background: #fff;border-radius:5px;padding:5px 10px;width:494px;z-index: 20;min-height:70px;margin-left: 4px;}
.updaterDialog_Main em.ti{display: block;width:18px;height:12px;font-size:0;line-height:0;position:absolute;top:-9px;left:30px;}
.md-psot-ico{width:75px;height:55px;padding-top:10px;color:#AAAAAA;}
.md-psot-ico img{margin-bottom:10px;}
.updaterDialog_Main dl dd p.docname{color:#000;padding-bottom: 5px;}
.updaterDialog_Main dl dd p.docname .txt_hidden{max-width: 200px;position:relative;bottom:-2px;left:-2px;}
.updaterDialog_Main dl dd p a{margin-left:5px;}
.updaterDialog_Main dl dd{color: #333;margin-top:5px;position:relative;border-bottom: 1px dotted;padding:8px 0;}
.updaterDialog_Main dl dd .editbox{position: absolute;right:5px;top:9px;}
.TextBox{background-color: #FFFFFF;border: 1px solid #D5D5D5;font-size: 12px;height: 20px;line-height: 18px; padding-left: 5px;margin:0;}
/*进度条*/
.progressbarOut{border:1px solid #A3A3A3;width:100%;height:3px;}
.progressbar{background-color: #A3A3A3;height:3px;font-size: 0;line-height:0;}
.dline{border-bottom: 1px dashed #ccc;position: relative}
.dline span{background-color:#fff;position:absolute;height:25px;line-height:25px;padding: 0 20px;top:-10px;left:50%;margin-left: -90px;color:#999;}
.anList li{color:#404040;display: inline-block;float: left;line-height: 30px;width: 155px;text-align: left;margin-left: 5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.broad,.broadBt{width:704px;margin:0 auto;position: relative;}
.broadTop,.broadMid{border:1px solid #e3e3e3;height:150px;overflow-y: scroll;padding: 10px;line-height: 18px;}
.broadMid{border-top:0;background: #fbfbfb;color: #888;height:99px;word-break: break-all;}
.broadMid p:first-child{padding-bottom: 5px;}
.broadBt textarea{width:692px;}
.broadBTop{height:40px;overflow: hidden;border-top:0;}
.broadBTop p{line-height: 20px;}
.IN{color:#aed2f7;}
.OUT{color:#f5a0a0;}
.RoomTime{position:absolute;right:30px;bottom:5px;background: #fbfbfb;}
.Roomp1,.TopTime span{color:#1f7cba;}
.Roomp1 em,.Roomp2 em{color:#888c92;}
.Roomp2{color:#f5a4a4;}
.RightBarB{width:641px;position: absolute;height:644px;z-index: 100;}
.RightBarB-in{width:641px;height:644px;position: relative;background: url("../images/r-pop.png") repeat-y;}
a.Icon-off{position: absolute;top:10px;right:10px;z-index: 30;}
.Mtitle{margin:0 10px 0 20px;}
.Mtitle .Icon-broad{position: relative;height:22px;top:3px;}
.mainIn{padding:10px 15px 0 25px;}
.TopTime{padding-top:30px;line-height: 30px;color:#a8adb6;}
.mainIn .UserList{margin:0 20px 0 30px;}
.mainIn .UserList li .UserBox{width: auto;}
.mainIn .UserList li{background:#f8f8f7;}
.mainIn .UserList li .UserImg img{width:30px;height:30px;margin-top:5px;}
.mainIn .UserList li .UserBox{padding-left:40px;position: relative;}
.mainIn .UserList li .UserBox:hover{color:#404040;background: none;border-color:#eaeaea;}
.mainIn .UserList li .UserBox p{padding-top:18px;}
.mainIn .UserList li .UserBox .Departmen{display:inline-block;width:120px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;top:2px;position: relative;}
.mainIn .UserList li .UserBox .BtnItems{background: #fff;border-left:1px solid #e7e7e7;position: absolute;top:0;right: 0;height:48px;width: 198px;}
.mainIn .UserList li .UserBox .BtnItems a{display:inline-block;height: 30px;color: #1f7cba;margin:10px 12px 0 18px;}
.mainIn .UserList li .UserBox .BtnItems a .Icon{vertical-align: -8px;margin-right: 10px;}
.mainIn .UserList li .UserBox .BtnItems a .Icon-m{left:-4px;}
.mainIn .UserList li .UserBox .BtnItems a.no-Voice,.mainIn .UserList li .UserBox .BtnItems a.no-Mic{color: #404040;margin:17px 5px 0 20px;}
.mainIn .UserList li .UserBox .BtnItems a.no-Voice .Icon,.mainIn .UserList li .UserBox .BtnItems a.no-Mic .Icon
{margin-right:0;}
.mainIn .UserList li .UserBox .BtnItems a.no-Mic .Icon{margin-right:2px;}
.BarLeft{position: absolute;left:-30px;top:40px;}
.BarLeft a{display:block;width:40px;height:40px;line-height:40px;text-align:center;background: #c7c7c7;margin-bottom:10px;}
.BarLeft a:hover,.BarLeft a.current{background: #0066cc;}

.mask{width:100%;height:100%;position: fixed;left:0;top:0;text-align: center;background:url(../images/mask-bg.png) repeat;z-index: 9999;display: none;}
.mask-x{display:inline-block;position: absolute;top:50%;left:50%;margin:-10px 0 0 -60px;z-index: 100;color:#000;
    background-image: url(../images/loading-ico.gif);background-position:10px center;background-repeat:no-repeat; background-color:#fff;padding:5px 25px;padding-left:30px;border:1px solid #ccc; text-align: center;border-radius:4px;}



.alertDialog,.warningDialog,.errorDialog{background-color:#CFFBC7;border:2px solid #FFFFFF;border-radius:6px;color:green;font-size:20px;padding:10px 40px 10px 20px;
    box-shadow:0 0 40px #000000;position:fixed;text-align:left;z-index:999999;}
a.close{background:#fff;display: block;font-size:20px;font-weight: 700;border-radius:10px;overflow: hidden;position: absolute;height:20px;right:10px;line-height: 16px;color:#119900;top:12px; text-align: center;width:20px;}
a.close:hover{text-decoration: none;}
.errorDialog{background-color:#ec8778;color:#a73524;}
.errorDialog a.close{color:#c69385;}
.warningDialog{background-color:#f7eacd;color:#b38948;}
.warningDialog a.close{color:#f0e9d8;}
.this-error{border:1px dotted #A73524;}
.has-general, .has-success, .has-warning, .has-error{position: relative;}
.has-error input, .has-error textarea, .has-error .Textarea{border-color: #c09853;}
.has-success input, .has-success textarea, .has-success .Textarea{border-color: #468847;}
.has-warning input, .has-warning textarea, .has-warning .Textarea{border-color: #c09853;}
.has-general label.control-label, .has-success label.control-label, .has-warning label.control-label, .has-error label.control-label{
    background-color: #fff;position: absolute;left:1px;padding-left: 5px;width: 398px;height:28px;line-height: 28px;top:1px;
}
.has-error label.control-label{color: #b94a48;}
.has-warning label.control-label{color: #c09853;}
.has-success label.control-label{color: #468847;}

/*白板*/
.BroadSet{background:#f7f7f7;width:100%;border:1px solid #e7e7e7;}
.BroadSet th{padding:0 10px;width:30px;}
.BroadSet td{border-right:1px dashed #e7e7e7;padding-right:10px;}
.BroadSet td a{color:#666;display: inline-block;margin:2px 0;}
.CLine a{width:90px;padding:5px 10px;border:2px solid #f7f7f7;font-size: 0;line-height: 0;}
.CLine a em,.color em{display: inline-block;width:90px;font-size: 0;line-height: 0;border-bottom:2px solid #000;}
.CLine a.two em{border-bottom-width:6px;}
.CLine a.three em{border-bottom-width:8px;}
.CLine a:hover,.CLine a.current,.color:hover,.color.current,.color.current{border-color:#0066cc;}
.color{width:18px;height:18px;font-size: 0;line-height: 0;border:2px solid #c7c7c7;}
.color em{width:16px;height:16px;border:1px solid #edf4fa;}
.color1 em{background-color:#000;}
.color2 em{background-color:#ff0000;}
.color3 em{background-color:#80ff00;}
.color4 em{background-color:#00ffff;}
.color5 em{background-color:#808080;}
.color6 em{background-color:#ff8000;}
.color7 em{background-color:#408080;}
.color8 em{background-color:#8000ff;}
.color9 em{background-color:#cccc00;}
.Broad{height:460px;border:1px solid #eee;box-shadow: 2px 1px 2px 2px #bcbcbc;}
.UserTab li .UserImg,.UserTab li .UserBox{border-radius:6px;height: 40px;}
.mainIn .UserTab li{background: none;}
.mainIn .UserTab li .UserImg{height: 40px;padding:0 0 0 5px;}
.mainIn .UserTab li .UserBox  .BtnItems{background: none;height: 40px;width: 150px;}
.mainIn .UserTab li .UserBox  .BtnItems a{margin-top:5px;line-height: 30px;}
.mainIn .UserTab li .UserBox .BtnItems a .Icon{margin-right:2px;}
.mainIn .UserTab li .UserBox .BtnItems a.online{color: #2cd62c;}
.mainIn .UserTab li .UserBox .BtnItems a.wait{color: #ffb20e;}
.mainIn .UserTab li .UserBox .BtnItems a.cut{color: #aaa;}
.mainIn .UserTab li .UserBox p{padding:0 0 0 10px;}
.mainIn .UserTab li .UserBox p span{display: inline-block;height:40px;line-height:44px; float: left;}
.mainIn .UserTab li .UserBox p span.Departmen,.mainIn .UserTab li .UserBox p span.UserName{top:0;}
.mainIn .UserTab li .UserBox .BtnItems a.no-Voice,.mainIn .UserTab li .UserBox .BtnItems a.no-Mic{margin-top:13px;}
.mainIn .UserTab li:nth-child(2n){background: #f8f8f7;}
.mainIn .UserTab li .UserBox .BtnItems a.Kout.red{color:#999;}

.md-attachment{position:relative;z-index: 10;margin:5px 0 0 5px;}
.all-att{position: absolute;background: #fff;width:225px;z-index: 10;box-shadow:0 0 8px #ccc;border:1px solid #ccc;}
.all-att li{padding:5px;line-height: 20px;border-bottom:1px solid #ccc;}
.all-att li:last-child{border:0;}
.all-att li:hover{background:#f3f8fe;}
.all-att li span.txt_hidden{width:150px;display: inline-block;float: left;}
.all-att li .docimg{display: inline-block; position: relative;top:2px;float: left;}
.all-att li .docimg img{width:20px;height:20px;vertical-align: middle;margin-right:5px;}
.all-att li a{margin-left: 10px;}
.md-mi-attachment{display:inline-block;width:16px;height:18px;font-size: 0;line-height: 0;
    background: url("../images/md-p-ico.png");background-position:-1px -181px;vertical-align: middle;top:-2px;left:-4px;position: relative;}
.attachment-list .all-att{position: relative;display: block;width: auto;box-shadow:none;}
.attachment-list .all-att li{}
.attachment-list .all-att li a{margin:0 10px 0 0;}
.attachment-list .all-att li span{height: 32px;line-height: 32px;}
.attachment-list .all-att li span.txt_hidden{width:260px;}
.attachment-list .all-att li span.graytext{color: #a0a0a0;}
.attachment-list .md-attachment{margin:0;}
.attachment-list .all-att li .docimg img{width: 32px;height:32px;}
.attachment-list .all-att li .docBtn{height: 32px;line-height: 32px;}



.Grab{border-bottom:1px solid #e2dede;margin:0 5px;}
.Grab a{display: inline-block;width:40px;height:20px;line-height: 20px;text-align: center;color:#fff;border-radius:2px;margin:5px 0;}
.Grab a.GrabBtn{background: #0066cc;}
.Grab a.GrabBtn:hover{background: #004180;}
.Grab a.GrabBtn.grey{background:#aaa;cursor:default;}
.Grab a.GrabBtnOver{background: #3eb93b;}
.Grab a.GrabBtnOver:hover{background: #36a534;}
.stop,.close2,.closerob{color: #c63d4d;}
.stop:hover,.close2:hover,.closerob:hover,.mainIn .UserTab li .UserBox .BtnItems a.Kout.red{color: #9d2432;}
.STEPBox{width:9999px;height:550px;position: absolute;}
.STEP{height: 550px;width:694px;float: left;padding: 0 10px 0 0;}
.STEP2,.STEP3{height:510px;}
.md-result-user,.md-plus-ser ul{background:#FFF;border:1px solid #E3E3E3;padding:5px 0;position:absolute;z-index:101;box-shadow:0 2px 5px rgba(0, 0, 0, 0.15);width:260px;border-radius:5px;}
.md-result-user .current{border-color:#d2ea00;}
.md-result-user{padding-top:0;}
.the-name{height:30px;line-height:30px;padding-left:10px;font-size:14px;font-weight:bold;color:#666;}
.md-results{cursor:pointer;padding:0 20px 0 5px;line-height:36px;height:36px;width:235px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;}
.md-result-user.group .md-results{padding:0 20px 0 20px;width:220px;}
.md-results:hover,.md-results.current,.md-plus-ser ul li:hover,.md-plus-ser ul li.current,.chose-g li.cur{background:#F5F5F5;}
.md-results span{display: block;float: left;color: #333;line-height:36px;height:36px;margin-right:3px;}
.md-results span img{width:26px;height:26px;margin:5px 5px 0 0;border-radius:3px;}
.md-results .txt_hidden{max-width:150px;}
.md-result-user.group .md-results .txt_hidden{max-width:140px;}
.md-name.txt_hidden{max-width:50px;}
.md-results.manager{background:#06fae6;}
.md-results.nouse span{color:#ccc!important;cursor:auto;}
.md-results.nouse:hover{border-color:#ccc;}
.md-results b{background:#FFFF99;}

