@charset "utf-8"; 
/* CSS Document */
/*reset*/ 
html{background: none repeat scroll 0 0;}
body{position:relative;background: #fff;}
body, div, td,font,em{font-size:12px;line-height:1.2em;font-family:"Microsoft YaHei","SimHei","NSimSun";}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd{margin: 0;padding: 0;}
table{border-collapse: collapse;border-spacing: 0;}
img{border:none;}
address, caption, cite, code, dfn, em, th, var,b,font{font-style:normal;font-weight: normal;}
ul li{list-style-image: none;list-style-position: outside;list-style-type: none;}
caption, th{text-align: left;}
h1, h2, h3, h4, h5, h6{font-size: 100%;font-weight: normal;vertical-align:baseline;zoom: 1;}
input, textarea, select, button{font-family: Verdana;font-size: 12px;font-weight: inherit; vertical-align:middle}
input[type=radio],input[type=checkbox]{vertical-align: -2px;}
textarea{resize:none; overflow-x:hidden;overflow-y:auto; outline:medium none; word-wrap:break-word;}
a{text-decoration:none;}
a:focus{outline-style: none;outline-width: 0;outline: none;}
a{_blr:expression(this.onFocus=this.blur());}
a:link, a:visited, a:active{text-decoration: none;}
a:hover,.news-list li a:hover{text-decoration:none;}
.strong{font-weight:bold;}
.floatleft{float:left;}
.floatright{float:right;}
.aligncenter{text-align:center;}
.alignright{text-align:right;}
.alignleft{text-align:left;}
.block{display:block!important;}
.inlineblock{display:inline!important;}
.inblock{display:inline-block!important;}
.nobg{background:none!important;}
.nobgcolor{background-color:none!important;}
.nofloat{float:none!important;}
.noborder{border:none!important;}
.visible{overflow:visible!important;}
.relative{position: relative;}
/*margin*/
.nomar{margin:0!important;}
.mar-auto{margin:0 auto!important;}
.nomar-t{margin-top:0!important}
.nomarl{margin-left:0!important;}
.nomarr{margin-right:0!important;}
.mart3{margin-top:3px!important;}
.mart4{margin-top:4px!important;}
.mart5{margin-top:5px!important;}
.mart7{margin-top:7px!important;}
.mart10{margin-top:10px!important;}
.mart15{margin-top:15px!important;}
.mart20{margin-top:20px!important;}
.mart30{margin-top:30px!important;}
.mart50{margin-top:50px!important;}
.marl10{margin-left:10px!important;}
.marr5{margin-right:5px!important;}
.marr10{margin-right:10px!important;}
.marr15{margin-right:15px!important;}
.marr20{margin-right:20px!important;}
.marr30{margin-right:30px!important;}
.marl5{margin-left:5px!important;}
.marl20{margin-left:20px!important;}
.marl_20{margin-left:-20px!important;}
.marl30{margin-left:30px!important;}
.color-black{color:#000;}
.color-white{color:#fff;}
.color-6{color:#666;}
.color-3{color:#333;}
.color-a{color:#aaa;}
.color-1f7cba{color:#1f7cba;}
.color-aed2f7{color:#aed2f7;}
.width80{width:78px!important;}
.width100{width:98px!important;}
.width150{width:148px!important;}
.width200{width:198px!important;}
.width300{width:298px!important;}
.width400{width:398px!important;}
/*padding*/
.nopadding{padding:0!important;}
.nopad-top{padding-top:0!important;}
.p-top5{padding-top:5px!important;}
.p-top10{padding-top:10px!important;}
.p-top40{padding-top:40px!important;}
.p-bt10{padding-bottom:10px!important;}
.p-bt20{padding-bottom:20px!important;}
/*font-size*/
.font12{font-size:12px!important;}
.font13{font-size:13px!important;}
.font14{font-size:14px!important;}
.font16{font-size:16px!important;}
.font15{font-size:15px!important;}
.font18{font-size:18px!important;}
.font20{font-size:20px!important;}
.font25{font-size:25px!important;}
.font30{font-size:30px!important;}
.l_th{text-decoration:line-through!important;}
.txt_hidden{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;}
span.ti{color:#aaaaaa;}
/*clear*/
.clear{clear:both;line-height:0;height:0;font-size:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}
/*按钮组*/
.btn{display: inline-block;padding:2px 10px;text-align: center;border-radius:2px;line-height: 20px;border: 1px solid #ccc;
    vertical-align:middle;cursor: pointer;box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);color: #fff;text-shadow: 1px 1px 1px #666;}
.btn-primary{background-color:#0066cc;border: 1px solid #0066cc;border-bottom:#0044AA;}
.btn-primary:hover{background-color: #004180;}
.btn-large{padding:5px 12px 6px 12px;font-size:16px;}
.int{border:1px solid #eae9e9;background: #fff;height: 26px;line-height: 26px;width: 130px;outline: none;padding:1px 5px;}
textarea.int{height:auto;vertical-align: top;}
/*图标组*/
.Icon{font-size: 0;line-height: 0;background-repeat: no-repeat;display: inline-block;background-image: url("../images/icon.png");position: relative;}
.Icon-ser{width:33px;height:29px;background-position: 0 0;}
.Icon-add{width:11px;height:11px;background-position: 0 -29px;}
.Icon-user{width:19px;height:16px;background-position: 0 -40px;}
.RoomList li.current .Icon-user,.RoomList li:hover .Icon-user{background-position: 1px -56px;}
.Icon-prev,.Icon-next{width:40px;height:19px;background-position: 0 -72px;}
.Icon-next{background-position: 0 -91px;}
.Icon-time{width:16px;height:16px;background-position: -19px -29px;}
.Icon-look{width:20px;height:20px;background-position: -53px 0;}
.Icon-begin{width:18px;height:20px;background-position: -35px 0;}
.Icon-look:hover{background-position: -53px -20px;}
.Icon-begin:hover{background-position: -35px -20px;}
.Icon-show,.Icon-hide{width:13px;height:42px;background-position: -80px -105px;cursor: pointer;}
.Icon-hide{background-position: -61px -105px;}
.Icon-write,.Icon-doc,.Icon-me,.Icon-set,.Icon-del,.Icon-broad{width:20px;height: 30px;}
.Icon-write{background-position: -40px -45px;}
.Icon-doc{background-position: -60px -45px;}
.Icon-me{background-position: -80px -45px;}
.Icon-set{background-position: -40px -75px;}
.Icon-broad{background-position: -140px -153px;}
.Icon-del{background-position: -60px -75px;}
.Icon-v,.Icon-m{width: 15px;height: 28px;}
.Icon-v{background-position: -83px -75px;}
.Icon-m{background-position: -81px -15px;}
.Icon-v:hover{background-position: -123px 0;}
.Icon-m:hover{background-position: -121px -30px;}
.Icon-v.grey{background-position: -220px -58px;cursor: default;}
.mainIn  .ItemL .UserList li:hover .Icon-v{background-position: -219px 0;}
.mainIn  .ItemL .UserList li:hover .Icon-m{background-position: -219px -29px;}
a:hover .Icon-write{background-position: -100px 0;}
a:hover .Icon-doc{background-position: -100px -30px;}
a:hover .Icon-me{background-position: -100px -60px;}
a:hover .Icon-set{background-position: -100px -90px;}
a:hover .Icon-del{background-position: -100px -120px;}
a:hover .Icon-broad{background-position: -160px -153px;}
.Icon-group{width:18px;height:17px;background-position: -18px -45px;top:2px;}
.Icon-arrow{width:9px;height:5px;background-position: -80px 0;top:-2px;right:-10px;}
.current .Icon-arrow{background-position: -80px -6px;top:-3px;}
.Icon-out{width:21px;height:21px;background-position: -40px -105px;}
.Icon-minus,.Icon-plus{width:18px;height:19px;}
.Icon-plus{background-position: 0 -110px;}
.Icon-plus.over{background-position: -18px -110px;}
.Icon-minus{background-position: 0 -129px;}
.Icon-minus.over{background-position: -18px -129px;}
.Icon-man,.Icon-phone,.Icon-box{width:13px;height:12px;}
.Icon-man{background-position: -140px 0;}
.Icon-phone{background-position: -153px 0;}
.Icon-box{background-position: -166px 0;}
.ItemL li:hover .Icon-man,.ItemL li.current .Icon-man{background-position: -140px -12px;}
.ItemL li:hover .Icon-phone,.ItemL li.current .Icon-phone{background-position: -153px -12px;}
.ItemL li:hover .Icon-box,.ItemL li.current .Icon-box{background-position: -166px -12px;}
.Icon-Glfet,.Icon-Gright{width: 26px;height:26px;display: block;}
.Icon-Glfet{background-position: -120px -60px;margin-top: 150px;}
.Icon-Gright{background-position: -120px -90px;margin-top:50px;}
.Icon-step,.Icon-quit,.Icon-save,.Icon-back,.Icon-ok,.Icon-an{width: 23px;height: 20px;background-position: 0 -150px;top: 3px;}
.Icon-back{background-position: 0 -170px;}
.Icon-save{background-position: -24px -170px;}
.Icon-quit{background-position: -24px -150px;}
.Icon-ok{background-position: -48px -150px;width: 24px;}
.Icon-an{background-position: -44px -170px;}
.Icon-arrow-t{width: 16px;height:7px;background-position: -40px -129px;}
.Icon-updoc,.Icon-upimg{width:30px;height:30px;}
.Icon-updoc{background-position: -75px -150px;}
.Icon-upimg{background-position: -105px -150px;}
.Icon-in,.Icon-ou{width:11px;height:11px;background-position: -140px -24px;margin-right:4px;top:1px;}
.Icon-ou{background-position: -153px -24px;left:1px;}
.Icon-off{width:14px;height:14px;background-position:-166px -24px;}
.no-voice,.no-mic{width:26px;height:21px;background-position:-143px -39px;top:-2px;left: -2px;}
.no-mic{background-position: -167px -39px;}
.Icon-play{width:32px;height:32px;background-position: -148px -60px;vertical-align: -8px;}
.Icon-write-m,.Icon-doc-m,.Icon-me-m,.Icon-set-m,.Icon-broad-m{width: 20px;height:23px;background-position: -153px -97px;top:8px;}
.Icon-doc-m{background-position: -120px -123px;}
.Icon-me-m{background-position: -140px -123px;}
.Icon-set-m{background-position: -163px -123px;}
.Mtitle .Icon-set-m{background-position: -195px -129px;}
.Icon-edit{width:12px;height:12px;background-position: -179px -90px;}
.Icon-broad-m{background-position: -140px -179px;}
.Icon-rstep,.Icon-clear{width:16px;height:17px;background-position: -81px -185px;top: 3px;}
.Icon-clear{background-position: -101px -184px;}
.Icon-pencil,.Icon-eraser{width:18px;height:18px;background-position:-120px -183px;border:2px solid #f7f7f7;}
.Icon-eraser{background-position:-162px -183px;}
.Icon-pencil:hover,.Icon-eraser:hover,.Icon-pencil.current,.Icon-eraser.current{border:2px solid #0066cc;}
.Icon-online,.Icon-wait,.Icon-cut{width:20px;height:20px;top:-2px;}
.Icon-online{background-position:-195px -20px;}
.Icon-wait{background-position:-195px 0;}
.Icon-cut{background-position:-195px -40px;}
.Icon-call,.Icon-men{width:20px;height:20px;background-position:-195px -63px;top:-2px;}
.Icon-men{background-position:-195px -84px;}
.Icon-men.red{background-position:-195px -104px;}
.IconSet{display:inline-block;line-height: 25px;color: #0066cc;margin:0 10px;}
.IconSet i{display: block;margin: 0 auto;width:32px;height:32px;}
a:hover .Icon-play{background-position:0 -202px;}
.Icon-stop{background-position:-35px -202px;}
a:hover .Icon-stop{background-position:-69px -202px;}
.Icon-open{background-position:-103px -236px;}
a:hover .Icon-open{background-position:-103px -202px;}
.Icon-close2{background-position:-137px -202px;}
a:hover .Icon-close2{background-position:-171px -202px;}
.Icon-rob{background-position:-69px -236px;}
a:hover .Icon-rob{background-position:0 -236px;}
.Icon-closerob{background-position:-34px -236px;}
a:hover .Icon-closerob{background-position:-138px -236px;}
.Icon-up,.Icon-down{width:16px;height:20px;background-position: -195px -153px;position: absolute;right:35px;top:12px;}
.Icon-down{background-position: -214px -153px;right:10px;}
.prev,.next{width:28px;height:28px;background-position: -180px -241px;position:absolute;top:50%;margin-top:-30px;z-index: 50;display: none;}
.prev{left:5px;}
.prev:hover{background-position: -211px -241px;}
.next{background-position: -210px -183px;right:10px;}
.next:hover{background-position: -210px -212px;}
.FrameIn:hover .prev,.FrameIn:hover .next{display: block;}
/*这里是明道大结构的样式2013-8-7*/
#Container{width:1000px;margin:0 auto;padding-bottom:50px;background-color:#fff;position:relative;color: #404040;overflow: hidden;padding-top: 25px;}

























